// *** COLORS ***
$bg-color: rgb(244, 208, 78);
$heading-color: #f4d04e;

$color-gray-light: #6b6b6b;

$color-dark: #111;

$color-black: #000;
$color-white: #fff;

//  *** SPACE ***
$flexbox-gap: 1.2rem;
